:root {
  --primary: #c9dce4;
  --secondary: white;
  --tertiary: #272f32;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: Arial;
}

img {
  max-width: 100%;
  height: auto;
}

img {
  width: 400px;
  height: 400px;
  margin: 2rem;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

#logo {
  width: 100px;
  height: 60px;
}
svg {
  width: 20px;
  height: 20px;
}

body {
  background-color: var(--primary);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--secondary);
  height: 5rem;
  width: 100%;
  nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    ul {
      display: flex;
      margin: 1rem;
      li {
        margin: 1rem;
        &:hover {
          color: white;
          background: var(--primary);
          cursor: pointer;
          padding: 0.5rem;
          scale: 0.5;
          border: none;
          border-radius: 10px;
        }
      }
    }
  }
}

/* News */

h1 {
  margin: 8rem;
  font-weight: bold;
  font-size: 4rem;
}

/* Section */

section {
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: var(--secondary);
  border: none;
  border-radius: 40px;
  margin: 1rem 3rem 1rem 3rem;
  align-self: flex-start;
  h2 {
    font-size: 3rem;
    margin: 4rem 0rem 1rem 0rem;
    font-weight: bold;
  }

  button {
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    align-self: flex-start;
    color: black;
    font-weight: bold;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      color: white;
      background: var(--primary);
      cursor: pointer;
      padding: 0.5rem;
      scale: 0.5;
      border: none;
      border-radius: 10px;
    }
  }

  .div {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    p {
      margin: 0.5rem 0rem 0rem 0rem;
    }
  }
}

/* Footer */

footer {
  display: flex;
  flex-direction: row;
  background-color: var(--tertiary);
  width: 100%;
  color: var(--secondary);
  padding: 1rem;
  button {
    background-color: var(--primary);
    border: none;
    border-radius: 10px;
    padding: 0.5rem;
    align-self: flex-start;
    color: black;
    font-weight: bold;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    cursor: pointer;
    &:hover {
      color: white;
      background: var(--primary);
      cursor: pointer;
      padding: 0.5rem;
      scale: 0.5;
      border: none;
      border-radius: 10px;
    }
  }
  img {
    height: 70px;
    width: 70px;
  }
}

.footer1 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-self: flex-start;
  padding: 1rem;
}
